<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>advancedreassurence</name>
	<displayName><![CDATA[Advanced Reassurence]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Show reassurence on home with many possibilities]]></description>
	<author><![CDATA[Valentin Duplan]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
